<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head') %>
    </head>
    <body>
        <h1> Login</h1>
        <form action=" /users/login" method="GET">

            <div>
                <!-- usuario: campo de tipo email.-->
                <label for = ""> Usuario: </label>
                <input type="email" name="mail" value="">

            </div>

           
            <div> 
                <!-- contrase単a: campo de tipo contrase単a.-->
                <label for="Pass">contrase単a:</label>
                <input type="password" id="Pass" name= contrase単a value="">
            </div>

            <div> 
                <!-- recordarme: campo de tipo checkbox.-->
                 <!-- yo lo voy a hacer modo radio, si o no.-->
                <label for="recordarme"> recordarme:</label>
                <input type="checkbox" name= recordarme value="Si">
                
            </div>

            

        </form>

    </body>
</html>


