<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i> Welcome back!  <br><br>
				<form action="/users/loginStore" method="POST">

					<div>
						
						<label for = ""> Usuario: </label> <br><br> 
						<input type="email" name="mail" value=""><br><br>
		
					</div>
		
				   
					<div> 
						
						<label for="Pass">contraseña:</label> <br><br>
						<input type="password" id="Pass" name= contraseña value="">  <br><br>
					</div>
		
					<div> 
						
						<label for="recordarme"> recordarme:</label>  
						<input type="checkbox" name= recordarme value="Si">  <br><br>
						
					</div>
		
					<button type="submit">Enviar datos</button>
		
				</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>