<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <% if (locals.user != null) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/headerDeslogueado') %>
    <% } %>
    
    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Borrar roductos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 

                <form action="/producto/productos/:id/borrar" method="POST">
                    <label for="nombre_imagen">Imagen:</label> 
        <input type="text" name="nombre_imagen" value="" required>
        <br>
        <br>
        <label for="nombre_producto">Nombre del producto:</label>

        <input type="text" name="nombre_producto" value="" required>
        <br>
        <br>
        <label for="descripcion_producto">Descripcion:</label>

        <input type="text" name="descripcion_producto" value="" required>
        <br>
        <br>

			<button type="submit">Borrar producto</button>




		</form> <br>

    <!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>
             

