<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if(locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
<% } else { %>
	<%- include("./partials/header") %>
<% } %>
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agrega productos!</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i><br>
				 
				<form action="./producto/agregarUpdated" method="POST">

					<div>
						
						<label for = "imgProducto"> Imagen del producto: </label>
						<input type="file" name="imgProducto" value="" placeholder="foto de producto"> <br><br>

					</div>

					<div>
						
						<label for = "nameProducto"> Nombre del producto: </label>
						<input type="text" name="nameProducto" value="" placeholder="nombre de producto"><br><br>

					</div>

					<div>
						
						<label for = "descProducto"> descripción del producto: </label>
						<input type="text" name="descProducto" value="" placeholder="descripcion de producto"> <br><br>

					</div>

					<button type="submit">Agregar producto</button>




				</form>

			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>