<html>
    <head>
       
            <% if (data.usuario.userName != null) {
                <%- include ('./partials/headerLogin') %>
            }
            <%else { <%- include ('./partials/head') %>}
            
    </head>
    
    <body>
        <h1> Agrega productos!</h1>
        <form action=" /producto/agregar" method="GET">

            <div>
                
                <label for = "imgProducto"> Imagen del producto: </label>
                <input type="file" name="imgProducto" value="">

            </div>

            <div>
                
                <label for = "nameProducto"> Nombre del producto: </label>
                <input type="text" name="nameProducto" value="">

            </div>

            <div>
                
                <label for = "descProducto"> descripción del producto: </label>
                <input type="text" name="descProducto" value="">

            </div>




        </form>

    </body>
</html>
