<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if(locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
<% } else { %>
	<%- include("./partials/header") %>
<% } %>
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agrega productos!</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				 
				<form action="./producto/agregar/" method="POST">

<label for="nombre_imagen">Imagen:</label> 
        <input type="text" name="nombre_imagen" value="" required>
        <br>
        <br>
        <label for="nombre_producto">Nombre del producto:</label>

        <input type="text" name="nombre_producto" value="" required>
        <br>
        <br>
        <label for="descripcion_producto">Descripcion:</label>

        <input type="text" name="descripcion_producto" value="" required>
        <br>
        <br>

			<button type="submit">Agregar producto</button>




		</form> <br>

			


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>