<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>

			<form action=" /users/editStore" method="POST">

				<div>
					
					<label for = "email"> Email: </label>
					<input type="email" name="mail" value="">

				</div>


				<div>
					
					<label for = "user"> Nombre Usuario: </label>
					<input type="text" name="user" value="">

				</div>

			
				<div> 
				
					<label for="Pass"> Contraseña:</label>
					<input type="password" id="Pass" name="contraseña"  value="">
				</div>

				<div> 
				
					<label for="date"> Fecha de nacimiento </label>
					<input type="date" id="date" name="fecha" value=""> 
				</div>

				<div> 
					
					<label for="dni"> Nro de documento</label>
					<input type="number" id="dni" name="documento" value=""> 

				</div>

				<div> 
					
					<label for="profilepic"> Foto de perfil </label>
					<input type="text" id="profilepic" name="fotoPerfil" value="">
				</div>


				<button type="submit">Enviar datos</button>



			</form> 
		</div>
			

	</div>
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>