<html>
    <head>

    </head>
    <body>
        <h1> register</h1>
        <form action=" /users/register" method="GET">

            <div>
                <!-- email: campo de tipo email..-->
                <label for = "email"> Email: </label>
                <input type="email" name="mail" value="">

            </div>


            <div>
                <!-- usuario: campo de tipo texto..-->
                <label for = "user"> Nombre Usuario: </label>
                <input type="text" name="user" value="">

            </div>

           
            <div> 
                <!-- contraseña: campo de tipo contraseña.-->
                <label for="Pass"> Contraseña:</label>
                <input type="password" id="Pass" name="contraseña"  value="">
            </div>

            <div> 
                <!--fecha de nacimiento: campo de tipo fecha. --> 
                <label for="date"> Fecha de nacimiento </label>
                <input type="date" id="date" name="fecha" value=""> 
            </div>

            <div> 
                <!--nro de documento: campo de tipo numérico.--> 
                <label for="dni"> Nro de documento</label>
                <input type="number" id="dni" name="documento" value=""> 

            </div>

            <div> 
                <!--foto de perfil: campo de tipo texto. -->
                <label for="profilepic"> Foto de perfil </label>
                <input type="text" id="profilepic" name="fotoPerfil" value="">
            </div>



        </form>

    </body>
</html>



<!-- Registración:
email: campo de tipo email.
usuario: campo de tipo texto.
contraseña: campo de tipo contraseña.
fecha de nacimiento: campo de tipo fecha.
nro de documento: campo de tipo numérico.
foto de perfil: campo de tipo texto.
-->