<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Bienvenidos a Sara!</h1>
    <p> Productos increíbles y originales!!!</p>

    <%- include('./partials/footer') %>
  </body>
</html>
