<!DOCTYPE html>
<html>
    <head>
        <% if (data.usuario.userName != null) {
            <%- include ('./partials/headerLogin') %>
        }
        <%else { <%- include ('./partials/head') %>}
            
            
    
    </head>
    <body>
        <h1> Login</h1>
        <h2> Welcome back!</h2>
        <form action=" /users/login" method="GET">

            <div>
                
                <label for = ""> Usuario: </label>
                <input type="email" name="mail" value="">

            </div>

           
            <div> 
                
                <label for="Pass">contraseña:</label>
                <input type="password" id="Pass" name= contraseña value="">
            </div>

            <div> 
                
                <label for="recordarme"> recordarme:</label>
                <input type="checkbox" name= recordarme value="Si">
                
            </div>

            

        </form>

    </body>
</html>


